@font-face {
    font-family: 'item lista';
    src: url(./Roboto-Regular.ttf);
}

@font-face {
    font-family: 'principal';
    src: url(./Courgette-Regular.ttf);
}

$fonte-lista: 'item lista';
$fonte-principal: 'principal';