@import './Cores';

.conteudo {
    padding: 1% 0% 0% 16%;        

    h3 {
        color: $cor-titulo;
        font-size: 200%;
        padding-top:0px;
    }
    p {
        font-size: 120%;
    }
}



