@import '../components/Cores;

.banner {
    background-color: $cor-menu;
    padding: 20px 20px 20px 20px;
    float: left;
}

#titulo {
    font-size: 150%;
    font-weight: bold;
    margin-right: 10px;


         a {
            color: white;
            text-decoration: none;

                :hover {
                    color: #AAC0AA;
                }
        }

 
}

#menu {
    list-style: none;
    display: inline;


        li {
            display: block;
            margin-right: 20px;
            padding-bottom: 20px;

                :hover {
                    border-bottom: 5px solid #AAC0AA;
                }
        }

 

        a {
            text-decoration: none;
            color: white;
            font-size: 110%;
        } 
}